
body { font-family: 'Poppins', sans-serif; color: #333;}
h2, h5 {  color: #222;}
.text-purple {  color: #6f42c1;}
header a:hover {  color: #f1f3f5;}
/*header*/
.main-header.scrolled { background: skyblue;z-index: 2; transition: 0.3s all ease;}
.main-header.scrolled .logo {font-size: 1.5rem;transition: 0.3s all ease;z-index: 2;color: #fff;}
.main-header.scrolled nav {font-size: 15px;transition: 0.3s all ease; color: #fff;}
/* Hero */
#home {background: #d5e6f7;}

#home img { border: 4px solid #fff;}

/* About */
#about img {  border-radius: 10px;}
#about img:hover {transform: scale(1.1);transition: 0.3s all ease;}
/*skills*/
#skills {background: #d5e6f7;}

/* Projects */
.card img {height: 200px;object-fit: cover; border-radius: 5px 5px 0 0;}

.card-title { font-weight: 600;}

/* Contact */
#contact a {text-decoration: none;}
#contact {background: #d5e6f7;}
#contact a:hover {  color: #0d6efd;}
